<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  <%= @user.email %>: <br>
  <%= @who %> has scheduled a meeting on <%= @day %> at <%= @time %>. The meeting
  room is <%= @place %>.
  See you there!
</p>
</body>
</html>