
<!-- Form for creating a booking -->

<div class="filler"></div>

  <%= form_tag({controller: "admin", action: "add_booking"}, method: "post", class: "form-signin") do %>

  <h2 class="form-signin-heading">Create a booking</h2>


  <h3> Room: <%= @room.name %> </h3>
  <h3> Date: <%= @day %> </h3>
  <h3> Time: <%= @util.friendly_hour(@from) %> to <%= @util.friendly_hour(@from.to_i+2) %> </h3>
  <div class="form-group" >
    <%= hidden_field_tag "room", @room.id %>
    <%= hidden_field_tag "day", @day %>
    <%= hidden_field_tag "from", @from %>
    <%= select_tag 'user', options_from_collection_for_select(@users,'id', 'emailId'), {class: 'form-control'} %>

    <!-- Attendees list is optional. Extra credit  -->

    <%= text_field_tag("attendees", nil, placeholder:"Attendees emailIds (comma-delimited)", class: "form-control") %>

  </div>
    <%= submit_tag("Create Booking", :class => "btn btn-lg btn-primary btn-block") %>

   <% end %>
