<div class="container-fluid" style="margin:0px">
<a href="/admin/logout/"> <button class='btn btn-primary pull-right'>Logout </button> </a>

<div class="filler">
  <h2> <center> Welcome to  Library-room booking app</center> </h2>
  <a href="/user/edit_profile/"> <h3> <%= @userId.first_name + " " + @userId.last_name %></a> </h3> </div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/user/home"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active " href="/user/search"> Search Room </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/manage_bookings">Manage Bookings</a>
  </li>

</ul>


<div class="filler" />

    <%= form_tag({controller: "user", action: "search_results"}, method: "post", class: "form-signin") do %>

        <%= hidden_field_tag "id", @userId.emailId %>
        <br>
        <%= text_field_tag(:room_number, nil, placeHolder: @search_string , class: "form-control") %>
        <%= select_tag 'building', options_from_collection_for_select(@buildingList,'id', 'name'), {class: 'form-control'} %>
        <%= select_tag 'room_type', options_from_collection_for_select(@roomTypes,'id', 'size'), {class: 'form-control'} %>
      <br>

        <%= submit_tag("Search", :class => "btn btn-lg btn-primary btn-block") %>

    <% end %>
  </div>

<% if @search_results != nil %>
<% if @search_results[1].length != 0 %>

    <h2> <%= @search_results[0] %></h2>
    <hr>
    <% rooms = @search_results[1] %>

        <table class="table tablestriped">
          <thead>
          <th class="table-info"> Room Number</th>
          <th class="table-info"> Size </th>
          <th class="table-info"> Booking Status</th>
          </thead>
          <tbody>
    <%rooms.each do |r| %>


          <tr>
             <td> <%=r["name"]%>
                <a href="create_booking/<%=r["id"]%>"><i class="fa fa-book" aria-hidden="true"></i> </a>
            </td>
             <td> <%= RoomType.find(r["room_type_id"]).size %>

             </td>
             <% num_bookings = BookingService.current_bookings_for_room(Room.find(r["id"])).length %>

            <td>
              <% if num_bookings > 0 %>
               Booked(<%=num_bookings%>)
                  <%else %>
                Available
                  <% end %>
            </td>
          </tr>

        <% end %>
          </tbody>
        </table>
    <% else %>
    <div class="flash"> <%= flash[:error] %> </div>
<% end %>
<% end %>
</div>